<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet", href="/stylesheets/index.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://scripts.embed.ly/jquery.embedly-3.0.4.min.js" type="text/javascript"></script>
  </head>
  <body>
    <h1 id="title"><%= title %></h1>
    <div id="pics">
        <div> <%- wikicontent %> </div>
	    <h2>Make your choice:</h2>
        <br>
        <form name="input" action="/" method="post">
            <input type="radio" name="choice" value=<%- choice1 %>><br>
            <input type="radio" name="choice" value=<%- choice2 %>><br>
            <input type="radio" name="choice" value=<%- choice3 %>><br>
            <input type="radio" name="choice" value=<%- choice4 %>><br>
            <input type="submit">
        </form>
    </div>


    <script src="js/main.js"></script>
  </body>
</html>